.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.current-user-details-container {
    border: 3.5px solid #22e636;
    background: black;
}



.current-name {
    margin: 30px;
    font-size: 25px;
}

.current-email {
    margin: 30px;
    font-size: 25px;
}

button {
    width: 250px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
}



form textarea {
    margin: 20px 0px 20px 0px;
    font-size: 15px;
    padding: 10px;
    resize: none;
    background-color: black;
    border: 3.5px solid #22e636;
}

form textarea:focus {
    outline: none;
    border: 3.5px solid red;
}

::placeholder{
    color: rgba(128, 247, 158, 0.699);
    opacity: 0.6;
  }


.delete-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid red;
    width: 660px;
    background-color: black;
}

.delete-user-message {
    width: 600px;
    color: red;
    text-align: center;
    text-shadow: 0.2px 0.2px 0.2px red;
    font-size: 20px;
    padding: 30px 0px 10px 0px;
    letter-spacing: 2px;
}