.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.current-name {
    margin: 30px;
    font-size: 25px;
}

.current-email {
    margin: 30px;
    font-size: 25px;
}

button {
    margin: 20px;
    cursor: pointer;
}



form textarea {
    margin: 20px 0px 20px 0px;
    font-size: 15px;
    padding: 10px;
    resize: none;
    background-color: black;
    border: 3.5px solid #22e636;
}

form textarea:focus {
    outline: none;
    border: 3.5px solid red;
}

