/* Styling for paginaton */

.pagination-container {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-element:hover {
    color: black;
    background-color: #22e636;
    transition: 0.3s;
  }
  
.pagination-element:active {
    color: red;
  }

.pagination-element {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

.pagination-element a.active{
  background-color: #4CAF50;
  color: white;
}



