
.blog-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-row {
    display: flex;
    flex-wrap: wrap;
}

/* Styling for blog edit and delete button */

.blog-element-button {
    margin: 90px 30px 90px 30px;
}

.blog-element-button:hover {
    color: black;
    background-color: #22e636;
    transition: 0.3s;
}

.blog-element-button:active {
    color: red;
}

/* Styling for blog links */

.blog-element {
    margin: 70px 0px 70px 0px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.blog-element:hover {
    color: red;
    background-color: black;
    transition: 0.3s;
}

.blog-element:active {
    color: black;
}

/* No post message */

.no-post-available-message {
    font-size: 40px;
    text-align: center;
    width: 70%;
    margin-top: 12%;
  
}