.create-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-heading {
    font-size: 25px;
}

.content-heading {
    font-size: 25px;
}

.title-input-box {
    margin: 20px 0px 20px 0px;
    resize: none;
    background-color: black;
    border: 1.5px solid #22e636;
}

.title-input-box:focus {
    outline: none;
    border: 1.5px solid red;
}

.content-input-box {
    margin: 20px 0px 20px 0px;
    resize: none;
    background-color: black;
    border: 1.5px solid #22e636;
}

.content-input-box:focus {
    outline: none;
    border: 1.5px solid red;
}


button {
    margin: 20px 0px 20px 0px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    border: 3px solid #22e636;
}

button:hover {
    background-color: #22e636;
    color: black;
}

button:active {
    background-color: #22e636;
    color: red;
    font-style: bold;
}