.signup-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid #22e636;
    background-color: black;
    width: 380px;
    padding: 20px 0px 20px 0px;
    margin-top: 10%;
}

.error-message {
    padding: 30px 0px 30px 0px;
    width: 350px;
}

::placeholder{
    color: rgba(128, 247, 158, 0.699);
    opacity: 0.6;
  }