@import url('https://fonts.cdnfonts.com/css/libre-barcode-39-text');
@import url('https://fonts.googleapis.com/css?family=Libre Barcode 39');
@import url('https://fonts.cdnfonts.com/css/c39hrp24dltt');
@import url('https://fonts.cdnfonts.com/css/k-o-d-e-39-hidden');
@import url('https://fonts.cdnfonts.com/css/barcode-font');




.blog-title {
    display: flex;
    justify-content: center;
    font-size: 90px;

    font-family: 'C39HrP24DlTt', sans-serif;
    font-weight: normal;
}
