/* Styling for nav bar */

.nav-link:hover {
    color: black;
    background-color: #22e636;
    transition: 0.3s;
  }

.nav-link:active {
  color: red;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}