
@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');


* {
    color: #22e636;
    /* courer is another font that can be used */
    /* font-family: Courier; */ 
    font-family: 'OCR A Extended', sans-serif; 
    text-shadow: 0px 0px 3px rgb(47, 153, 56),
                0px 0px 3px rgb(47, 153, 56);
    z-index: 1;
}

/* This makes the background of all elements black */
html {background-color: black}


/* Styling for links that are active */
.active {
  background-color: #7cb536; 
}

/* Styling for button element */
.button-element:hover {
  color: black;
  background-color: #22e636;
  transition: 0.3s;
}

.button-element:active {
  color: red;
}

/* Styling for text input boxes */

.text-input-box {
  background-color: black;
  border: 2px solid #22e636;
  margin-left: 20px;
  margin-right: 20px;
}

.text-input-box:focus {
  outline: none;
}


/* Styling for all text */

body {
  font-weight: 600; 
}




