
@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');


* {
    color: #22e636;
    /* courer is another font that can be used */
    /* font-family: Courier; */ 
    font-family: 'OCR A Extended', sans-serif; 
    text-shadow: 0px 0px 3px rgb(47, 153, 56),
                0px 0px 3px rgb(47, 153, 56);
    z-index: 1;
}

/* This makes the background of all elements black */
html {background-color: black}

body {
    font-weight: 600; 
}

/* Styling for nav bar */
.nav-link:hover {
    color: black;
    background-color: #22e636;
    transition: 0.3s;
  }

.nav-link:active {
  color: red;
}

/* Styling for button element */
.button-element:hover {
  color: black;
  background-color: #22e636;
  transition: 0.3s;
}

.button-element:active {
color: red;
}

/* Styling for paginaton */
.pagination-element:hover {
  color: black;
  background-color: #22e636;
  transition: 0.3s;
}

.pagination-element:active {
  color: red;
}
