@import url('https://fonts.cdnfonts.com/css/libre-barcode-39-text');
@import url('https://fonts.googleapis.com/css?family=Libre Barcode 39');
@import url('https://fonts.cdnfonts.com/css/c39hrp24dltt');
@import url('https://fonts.cdnfonts.com/css/k-o-d-e-39-hidden');



.display-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    width: 500px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    font-size: 40px;
    letter-spacing: 2px;
    width: 885px;
    padding: 0px;
}

.post-content {
    width: 750px;
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    letter-spacing: 2px;
    border: 3.5px solid #22e636;
    width: 850px;
    height: 400px;
    overflow: auto;
    padding: 20px;
    background-color: black;
}

.button {
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}

.display-post-button-container {
    align-items: center;
}





.title-heading {
    font-size: 25px;
}

.content-heading {
    font-size: 25px;
}

.title-input-box {
    margin: 20px 0px 20px 0px;
    font-size: 15px;
    padding: 10px;
    resize: none;
    background-color: black;
    border: 3.5px solid #22e636;
}

.title-input-box:focus {
    outline: none;
    border: 3.5px solid red;
}

.content-input-box {
    margin: 20px 0px 20px 0px;
    font-size: 15px;
    padding: 10px;
    resize: none;
    background-color: black;
    border: 3.5px solid #22e636;
}

.content-input-box:focus {
    outline: none;
    border: 3.5px solid red;
}

.error-message {
    width: 500px;
    text-align: center;
}



/* styling for scroll bar */

.post-content::-webkit-scrollbar {
    width: 25px;
  }

  /* Track */
.post-content::-webkit-scrollbar-track {
    background:green; 
  }
   
  /* Handle */
.post-content::-webkit-scrollbar-thumb {
    background: #22e636; 
  }


  

/* .bar-code {
    font-family: 'C39HrP24DlTt', sans-serif;
    font-size: 70px;

    font-weight:normal;
    text-align: center;
  } */



  /* this one below is barcode which is just barcode */

  .bar-code {
    font-family: 'K-O-D-E-39 Hidden', sans-serif;
    font-size: 38.7px;
    margin: 0px;

    font-weight:normal;
    text-align: center;
  }

  